body {
    background: #6c757d !important;
}

.logo {
    align-self: center;
}

.searchBar {
    margin-right: 20px;
    margin-left: 20px;
}

.form-inline {
    justify-content: flex-end;
}

.book {
    height: 435px;
    width: 280px;
}

.readMore {
    width: 150px;
}

.row {
    margin: 0 !important;
}

.d-flex {
    background-color: #6c757d !important;
}

.form-control {
    justify-self: flex-end;
}

/* hover-flip */
.flip-container {
    perspective: 1000px;
    margin: 1em;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 280px;
    height: 435px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #474d52;
    color: white;
}